.game-hint {
    display: flex;
    min-height: 64px;
    width: 40%;
    margin: 5px;
}

.game-hint-left {
    flex-direction: row-reverse;
}

.game-hint-right {
    flex-direction: row;
}

.game-hint-text {
    border-radius: 5px;
    border: 1px dashed black;
    padding: 10px;
    font-family: serif;
    font-style: italic;
}

.game-hint-text a {
    color: black;
    font-weight: bold;
}

.game-hint-image {

}

.game-hint-image img {
    height: 64px;
}
